<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Chalo is a mobile app for transportation in Bengaluru, aims to provide the best possible transportation to all travelers by providing an unequalled level of quality service that stresses safety, reliability and comfort ">
    <meta name="author" content="">
    <meta name="keywords" content="Cab booking, Bus booking, Mobile app, Car booking,Cab booking in banglore,commuters">
    <!-- Add Your favicon here -->
    <!--<link rel="icon" href="~/img/favicon.ico">-->

    <title>Chalo</title>

    <!-- Bootstrap core CSS -->
    <link href="~/~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Animation CSS -->
    <link href="~/~/css/animate.min.css" rel="stylesheet">
    

    <link href="font-awesome/~/~/css/font-awesome.min.css" rel="stylesheet">
    <style>
        .icon-margin a{
    margin-left:40px !important;

}
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="~/~/css/style.css" rel="stylesheet">
</head>
<body id="page-top">
<div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <img class="img-responsive" width="150" style="padding-top:10px"  src="~/img/logo.png" />
                    <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Chalo</a>-->
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#page-top">About</a></li>
                        <li><a class="page-scroll" href="#features">App Features</a></li>
                        <li><a class="page-scroll" href="#team">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </nav>
</div>
<div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#inSlider" data-slide-to="0" class="active"></li>
        <li data-target="#inSlider" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Chalo allows you to<br/>
                     savor each mile with <br/>best services.
<br/>
                          </h1>
                    
                   
                </div>
                <div class="carousel-image wow zoomIn">
                    <img src="~/img/laptop.png" alt="laptop"/>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>

        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption blank">
                    <h1>unparalleled innovation <br/> Impeccable timing.</h1>
                    
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back two"></div>
        </div>
    </div>
    <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<section id="features" class="container services">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="icon-margin">
                    <div class="col-md-3 " style="padding-top:10px">
                        <a href="#"><img src="~/img/apple.png"  class="img-responsive center-block pull-left" /></a>
                        </div>
                    <div class="col-md-3 " style="padding-top:10px">
                        
                        <a href="#"><img src="~/img/android.png"  class="img-responsive center-block pull-left" /></a>
                    </div>
                    <div class="col-md-3 " style="padding-top:10px">
                        <a href="#"> <img src="~/img/windows_store.png" class="img-responsive center-block pull-left" /></a>
                    </div>
                    <!--<div class="col-md-3" style="padding-top:10px">
                        
                        <input type="text" class="form-control" style="width: 176px;border-color:#1ab394;display:inline-block" id="txt_mobile" placeholder="Mobile no to get a link" />
                        <input type="button" class="btn-primary" style="
    padding: 5px 10px 5px 5px;
    display: inline-block;
" value="Submit" />
                    </div>-->
                    </div>
            </div>
                    </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h2>About</h2>
            <p>Chalo is a mobile app for transportation in Bengaluru, aims to provide the best possible transportation to all travelers by providing an unequalled level of quality service that stresses safety, reliability and comfort </p>
            <!--<p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>-->
        </div>
        <div class="col-sm-3">
            <h2>An oath of service</h2>
            <p>We think about only one word trouble-free, we believe efficent means smooth functioning and we strive to achieve it, Rigorous understanding of the costumer needs, strategic planning and precise execution is our supreme motto.</p>
            <!--<p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>-->
        </div>
        <div class="col-sm-3">
            <h2>Quality</h2>
            <p>Drivers are instrumental in any journey and we have very well-mannered, soft spoken and certified professional Chauffeurs. Chalo ensures passenger comfort to the minutest detail.State-of-the-art Booking and communication system.

</p>
            <!--<p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>-->
        </div>
        <div class="col-sm-3">
            <h2>hassle-free</h2>
            <p>Forget rough calculatios of trip, we give you the exact price. we believe trip should be simple - you book, we arrive on time,
  we take you comfortably and safely to your destination all for a very low price.
  That's it!! Plain and simple.</p>
            <!--<p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>-->
        </div>
    </div>
</section>

<section  class="container features">
    
    <div class="row">
        <div class="col-md-3 text-center wow fadeInLeft">
            <div>
                <i class="fa fa-mobile fa-2x"></i>
                <h2>convenience</h2>
                
                <p>Book a vehicle with in three clicks.Visualize and prioritize multiple trip statuses simultaneously.</p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-anchor fa-2x"></i>
                <h2>safe</h2>
                <p>Chalo works only with professional vehicle drivers. Every time you ride with Chalo you’ll ride with a fully licensed, insured driver. No exceptions.</p>
            </div>
        </div>
        <div class="col-md-6 text-center  wow zoomIn">
            <img src="~/img/perspective.png" alt="dashboard" class="img-responsive">
        </div>
        <div class="col-md-3 text-center wow fadeInRight">
            <div>
                <i class="fa fa-thumbs-up fa-2x"></i>
                <h2>service</h2>
                <p>Chalo connects you to safe, reliable rides from professional drivers.so you're sure to hit the road smiling. Come drive with us.</p>
            </div>
            <div class="m-t-lg">
                <i class="fa fa-heart fa-2x"></i>
                <h2>Reliable</h2>
                <p>once you have registered with us you never need worry about cash again thanks to our secure card payment system</p>
            </div>
        </div>
    </div>
    
    
</section>









    <section id="team" class="gray-section contact">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Contact us</h1>

                </div>
            </div>
            <div class="row m-b-lg">
                <div class="col-lg-4 col-lg-offset-3">
                    <address>
                        <strong><span class="navy">Chalo India Pvt.Ltd.</span></strong><br />
                        1-8-853/B,Prakash Nagar<br />
                        Begumper, secunderabad-03<br />
                        <abbr title="Phone">Ph:</abbr> 040-40063853
                    </address>
                </div>

                <div class="col-lg-4 " style="">
                    <address>
                        <strong><span class="navy">Chalo India Pvt.Ltd.</span></strong><br />
                        K105 , Purva Fountain Square<br/>
                         Marathahalli, Bangalore - 560037<br />
                      
         
                    </address>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="mailto:support@chaloindia.net" class="btn btn-primary">Send us mail</a>
                    <p class="m-t-sm">
                        Or follow us on social platform
                    </p>
                    <ul class="list-inline social-icon">
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                    <p><strong style="color:#1ab394">&copy; 2015 Chalo India Pvt.Ltd.</strong><br />Powered by <a target="_blank" href="http://www.konnectsu.com">Konnectsu Technologies Pvt.Ltd.</a></p>
                </div>
            </div>
        </div>
    </section>

<script src="~/js/jquery-2.1.1.js"></script>
<script src="~/js/pace.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/classie.js"></script>
<script src="~/js/cbpAnimatedHeader.js"></script>
<script src="~/js/wow.min.js"></script>
<script src="~/js/inspinia.js"></script>
</body>
</html>
